<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="alternate" hreflang="x-default" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="zh-Hant" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="zh-Hans" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="en" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="ja" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="ko" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="zh" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="th" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="ms" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="de" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="fr" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="vi" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="id" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="fil" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="alternate" hreflang="hi" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<title>MXGS-1329 [検閲なしリーク] オンライン視聴, 和久井美兎, ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 和久井美兎 - 123AV</title>
<meta name="description" content="MXGS-1329 [検閲なしリーク] オンライン視聴およびダウンロード MXGS-1329 [検閲なしリーク] 無料。 和久井美兎">
<meta name="keywords" content="MXGS-1329 [検閲なしリーク] オンライン視聴, MXGS-1329 [検閲なしリーク] ダウンロード, MXGS-1329 [検閲なしリーク] マグネット, MXGS-1329 [検閲なしリーク] VIPファイルダウンロード無料">
<meta property="og:url" content="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<meta property="og:site_name" content="123av.com">
<meta property="og:title" content="MXGS-1329 [検閲なしリーク] オンライン視聴, 和久井美兎, ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 和久井美兎 - 123AV">
<meta property="og:description" content="MXGS-1329 [検閲なしリーク] オンライン視聴およびダウンロード MXGS-1329 [検閲なしリーク] 無料。 和久井美兎">
<meta property="og:type" content="video">
<meta property="og:image" content="https://cdn.avfever.net/images/7/97/mxgs-1329-uncensored-leaked/cover.jpg?t=1730439049">
<base href="https://123av.com/ja/">
<link rel="canonical" href="https://123av.com/en/dm1/v/mxgs-1329-uncensored-leaked">
<link rel="icon" type="image/png" href="https://123av.com/assets/123av/images/favicon.png">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://123av.com/assets/123av/dist/app.css?v=1737175421">
<script>
window.cdnUrl = 'https://cdn.avfever.net';
</script>
<script type="text/javascript" src="https://123av.com/assets/123av/dist/app.js?v=1737175421" defer></script>
</head>
<body>
<div id="app" v-scope @vue:mounted="init(); $el.style.display=null; cookie.set('locale', 'ja');" style="display:none">
<header :class="{'show-menu': app.isMenuOpen, 'hide': app.isHeaderHidden}">
<div class="container">
<div class="row wrap">
<div class="col-auto justify-content-center">
<div id="logo" class="fs-15 fw-bold">
<a class="logo" href="https://123av.com/ja" title="AV 無料オンライン、無料 HD AV">
<img src="https://123av.com/assets/123av/images/logo.png?v=123av" />
</a>
</div>
</div>
<div class="col-auto nav-wrap">
<ul id="nav" :style="{'max-height': (screen.height * 0.6) + 'px'}">
<li class="has-child" v-scope="{open: storage.get('menu-1', 1)}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-1', open=!open)">JAV視聴</a>
<ul>
<li><a href="dm1/censored">検閲あり</a></li>
<li><a href="dm1/recent-update">最近の更新</a></li>
<li><a href="dm1/new-release">新作</a></li>
<li><a href="dm1/uncensored">検閲なし</a></li>
<li><a href="dm1/uncensored-leaked">検閲なしリーク</a></li>
<li><a href="dm1/vr">VR</a></li>
<li><a href="actresses?sort=most_viewed_today">ホット女優</a></li>
<li><a href="dm1/trending">トレンド</a></li>
<li><a href="dm1/today-hot">今日最も視聴された</a></li>
<li><a href="dm1/weekly-hot">週間最も視聴された</a></li>
<li><a href="dm1/monthly-hot">月間最も視聴された</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-4')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-4', open=!open)">リスト</a>
<ul>
<li><a href="genres">ジャンル</a></li>
<li><a href="makers">メーカー</a></li>
<li><a href="actresses">女優</a></li>
<li><a href="series">シリーズ</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-2')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-2', open=!open)">アマチュア</a>
<ul>
<li><a href="dm1/tags/siro">SIRO</a></li>
<li><a href="dm1/tags/259luxu">LUXU</a></li>
<li><a href="dm1/tags/200gana">200GANA</a></li>
<li><a href="dm1/tags/prestige-premium">PRESTIGE PREMIUM</a></li>
<li><a href="dm1/tags/230oreco">ORECO</a></li>
<li><a href="dm1/tags/s-cute">S-CUTE</a></li>
<li><a href="dm1/tags/261ara">ARA</a></li>
<li><a href="dm1/tags/390jac">390JAC</a></li>
<li><a href="dm1/tags/328hmdn">328HMDN</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-3')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-3', open=!open)">検閲なし</a>
<ul>
<li><a href="dm1/uncensored-leaked">検閲なしリーク</a></li>
<li><a href="dm1/tags/fc2">FC2</a></li>
<li><a href="dm12/tags/heyzo">HEYZO</a></li>
<li><a href="dm1/tags/tokyo-hot">Tokyo-Hot</a></li>
<li><a href="dm22/tags/1pondo">1pondo</a></li>
<li><a href="dm24/tags/caribbeancom">Caribbeancom</a></li>
<li><a href="dm8/tags/caribbeancompr">Caribbeancompr</a></li>
<li><a href="dm25/tags/10musume">10musume</a></li>
<li><a href="dm13/tags/pacopacomama">pacopacomama</a></li>
<li><a href="dm1/tags/gachig">Gachinco</a></li>
<li><a href="dm1/tags/xxx-av">XXX-AV</a></li>
<li><a href="dm1/tags/c0930">C0930</a></li>
<li><a href="dm1/tags/h0930">H0930</a></li>
<li><a href="dm1/tags/h4610">H4610</a></li>
</ul>
</li>
<li>
<a href="https://go.rmishe.com/smartpop/65c7b0d8683f0a3a637a172428a7234a34dc70407a5c239e15f4d247b3a20e82?userId=c11b667e1e8a26cf7f31362ebc0577ab36a4ec57b491bae9f3f8939c70b4b75e" rel="nofollow" target="_blank">ライブセックス</a>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-5')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-5', open=!open)">他のサイト</a>
<ul>
<li><a href="https://theporndude.com/" target="_blank" rel="nofollow">ThePornDude</a></li>
<li><a href="https://24av.net/" target="_blank" rel="nofollow">24av</a></li>
<li><a target="_blank" href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" title="3,000種類以上のスロットゲーム！世界一のVIP体験 18歳以上、利用規約適用、責任を持って遊びましょう">Stakeで遊ぼう！</a></li>
</ul>
</li>
</ul>
</div>
<div class="col-auto right">
<form id="search" v-scope="Search()" @vue:mounted="init" ref="form" :class="{show: isOpen}" action="search" autocomplete="off">
<button><i class="fas fa-search"></i></button>
<input type="text" name="keyword" ref="input" placeholder="検索...">
</form>
<div id="lang" v-scope="UI.Dropdown()" @vue:mounted="init">
<div ref="toggler">
<i class="flag icon-lang-ja"></i>
</div>
<div ref="menu" class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-en"></i>
<span>English</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-ja"></i>
<span>日本語</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-ko"></i>
<span>한국의</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-zh"></i>
<span>繁體中文</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-ms"></i>
<span>Melayu</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-th"></i>
<span>ไทย</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-de"></i>
<span>Deutsch</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-fr"></i>
<span>Français</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-vi"></i>
<span>Tiếng Việt</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-id"></i>
<span>Bahasa Indonesia</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-fil"></i>
<span>Filipino</span>
</a>
<a class="dropdown-item" href="https://123av.com/jp/dm1/v/mxgs-1329-uncensored-leaked">
<i class="flag icon-lang-hi"></i>
<span>हिंदी</span>
</a>
</div>
</div>
<div id="user">
<div class="clickable" v-if="!app.isUserLogged" @click.prevent="app.showLoginForm">
<i class="icon icon-avatar"></i>
</div>
<div v-if="!app.isUserStatusUpdating && app.isUserLogged" v-scope="UI.Dropdown()" @vue:mounted="init">
<div ref="toggler" class="clickable">
<i class="icon icon-avatar"></i>
</div>
<div ref="menu" class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#" @click.prevent="app.userFormName = 'edit'; UI.showModal('#userform')">
<i class="fas fa-user-edit"></i>
<span>プロフィールを編集</span>
</a>
<a class="dropdown-item" href="user/collection">
<i class="fas fa-heart"></i>
<span>マイコレクション</span>
</a>
<a class="dropdown-item" href="user/actresses">
<i class="fas fa-star"></i>
<span>マイ女優</span>
</a>
<a class="dropdown-item" href="user/feed">
<i class="fas fa-film"></i>
<span>動画フィード</span>
</a>
<a class="dropdown-item" href="user/logout">
<i class="fas fa-sign-out-alt"></i>
<span>ログアウト</span>
</a>
</div>
</div>
</div>
<div class="nav-toggler" @click="app.toggleMenu">
<i></i><i></i><i></i>
</div>
</div>
</div>
</div>
</header>
<div id="body">
<div class="container" id="page-video" v-scope="Movie({id: 229487, code: 'MXGS-1329-Uncensored-Leaked'})" @vue:mounted="init">
<div class="alert alert-warning">
<i class="fas fa-info-circle"></i>
メインドメイン <a href="https://123av.com/" rel="nofollow" class="text-primary"><b>123av.com</b></a> にアクセスできない場合は、<a href="https://123av.ws/" rel="nofollow" class="text-primary"><b>123av.ws</b></a>, <a href="https://1av.to/" rel="nofollow" class="text-primary"><b>1av.to</b></a> をお試しください。
</div>
<div class="row">
<div class="col">
<div id="player" ref="player" data-poster="https://cdn.avfever.net/images/7/97/mxgs-1329-uncensored-leaked/cover.jpg?t=1730439049">
<video poster="https://cdn.avfever.net/images/7/97/mxgs-1329-uncensored-leaked/cover.jpg?t=1730439049" src="https://cdn.avfever.net/images/7/97/mxgs-1329-uncensored-leaked/preview.mp4?t=1730439049" controls playsinline width="100%" height="100%"></video>
</div>
<div class="d-flex justify-content-between align-items-start">
<div class="mr-3">
<h1>MXGS-1329 [検閲なしリーク] ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 和久井美兎</h1>
</div>
</div>
<div class="mt-3 mb-3" v-scope="{shareOpened: false, shareTitle: document.title, shareUrl: window.location.href }">
<div class="actions d-flex align-items-center justify-content-center">
<button class="btn btn-secondary btn-action favourite mr-2"
v-scope="Favourite('movie', 229487, -1)" @vue:mounted="init($el)" @click="handle"
data-code="MXGS-1329-Uncensored-Leaked"
:class="{done: state == 1}">
<i class="fas fa-heart"></i>
<span ref="counter">33</span>
</button>
<button class="btn btn-secondary" @click="shareOpened=!shareOpened">
<i class="fas fa-solid fa-share-nodes"></i>
<span>Share</span>
</button>
</div>
<div v-show="shareOpened" class="share-wrapper bg-secondary p-3 rounded-2 mt-3">
<div class="input-group" v-scope="{
copied: false,
copyShareUrl: function() {
this.$refs.shareUrl.select();
document.execCommand('copy');
this.copied = true;
setTimeout(() => { this.copied = false; }, 2e3);
}
}">
<input type="text" class="form-control rounded-1" ref="shareUrl" readonly :value="shareUrl">
<button class="btn btn-info rounded-1 ml-1" type="button" @click="copyShareUrl">
<i v-show="copied" class="fa-regular fa-circle-check"></i>
<i v-show="!copied" class="fa-solid fa-copy"></i>
Copy
</button>
</div>
<div class="mt-2">
<a :href="`https://wa.me/?text=${shareTitle}%0a%0a${shareUrl}`"
target="_blank"
style="background: #25D366;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-whatsapp"></i> Whatsapp
</a>
<a :href="`https://t.me/share/url?url=${shareUrl}&amp;text=${shareTitle}`"
target="_blank"
style="background: #0088CC;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-telegram"></i> Telegram
</a>
<a :href="`https://twitter.com/intent/tweet?text=${shareTitle}%0a%0a${shareUrl}`"
target="_blank"
style="background: #1DA1F2;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-twitter"></i> Twitter
</a>
</div>
</div>
</div>
<div id="scenes" v-show="watchItems.length > 1">
<ul>
<li v-for="item in watchItems">
<a href="javascript:;" :data-index="item.index" :class="{active: item.index == watchIndex}" @click="play(item.index)">パート {{ item.name }}</a>
</li>
</ul>
</div>
<div class="d-lg-none text-center" v-if="!isDesktop">
<div style="width:300px;height:100px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x100.gif">
</a>
</div>
</div>
<div id="details" v-scope="{tab: 'detail'}">
<div class="bl-title tabs">
<div class="tab tab-detail" @click="tab = 'detail'" :class="{active: tab == 'detail'}">詳細</div>
<div class="tab tab-magnet" @click="tab = 'magnet'" :class="{active: tab == 'magnet'}">マグネット</div>
<div v-show="downloadItems && downloadItems.length > 0" class="tab tab-magnet" @click="tab = 'down'" :class="{active: tab == 'down'}">ダウンロード</div>
</div>
<div class="content" :class="{'d-none': tab != 'detail'}">
<div class="detail-item">
<div>
<span>コード:</span>
<span>MXGS-1329 [検閲なしリーク]</span>
</div>
<div>
<span>リリース日:</span>
<span>2024-04-16</span>
</div>
<div>
<span>再生時間:</span>
<span>02:08:00</span>
</div>
<div>
<span>女優:</span>
<span>
<a href="dm1/actresses/8b03d66eff928527" v-scope="Term(86874)" @vue:mounted="init">和久井美兎</a>
</span>
</div>
<div>
<span>ジャンル:</span>
<span class="genre">
<a href="dm1/uncensored-leaked">検閲なしリーク</a>,
<a href="dm1/genres/nampa">ナンパ</a>,
<a href="dm1/genres/creampie">中出し</a>,
<a href="dm4/genres/threesome-foursome">3P・4P</a>
</span>
</div>
<div>
<span>シリーズ:</span>
<span>
<a href="dm1/series/85dff1e26508cac1">拾った女の子は生意気なクソガキだった…。</a>
</span>
</div>
<div>
<span>メーカー:</span>
<span>
<a href="dm1/makers/50efc1cd4720ed7e">マキシング</a>
</span>
</div>
<div>
<span>ラベル:</span>
<span>
<a href="dm1/labels/maxing">マキシング</a>
</span>
</div>
<div>
<span>タグ:</span>
<span>
<a href="dm1/tags/mxgs">MXGS</a>
</span>
</div>
</div>
</div>
<div class="content magnets" :class="{'d-none': tab != 'magnet'}">
<div class="magnet">
<a href="magnet:?xt=urn:btih:90217D208B1C7EC73ED81C18A78F96BD43131B60&amp;dn=MXGS-1329-uncensored-HD" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">MXGS-1329-uncensored-HD HD</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">3.43GB</div>
<div class="detail-item">2024-04-25</div>
</div>
</div>
</a>
</div>
<div class="magnet">
<a href="magnet:?xt=urn:btih:83F7DA8C32FBC028BEA04C55FC3035A1F6C2AB4C&amp;dn=MXGS-1329" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">MXGS-1329 HD</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">3.16GB</div>
<div class="detail-item">2024-04-19</div>
</div>
</div>
</a>
</div>
<div class="magnet">
<a href="magnet:?xt=urn:btih:B867C99DA678EF07DE5377E3AAD4170A622EC7D3&amp;dn=%40MXGS1329" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">@MXGS1329</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">1.68GB</div>
<div class="detail-item">2024-04-17</div>
</div>
</div>
</a>
</div>
<div class="magnet">
<a href="magnet:?xt=urn:btih:29328096B915AFFAC1F4F6697E1DA9D645D88944&amp;dn=MXGS-1329" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">MXGS-1329</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">1.83GB</div>
<div class="detail-item">2024-04-17</div>
</div>
</div>
</a>
</div>
<div class="magnet">
<a href="magnet:?xt=urn:btih:E1BE6DC4D6A932025DBA430D1A1B6FEC53E72B86&amp;dn=MXGS-1329" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">MXGS-1329 HD</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">3.70GB</div>
<div class="detail-item">2024-04-15</div>
</div>
</div>
</a>
</div>
</div>
<div v-show="downloadItems && downloadItems.length > 0" class="content download py-2" :class="{'d-none': tab != 'down'}">
<b>ダウンロード:</b>
<template v-for="item in downloadItems">
<a class="btn btn-sm btn-link" target="_blank" :href="item.url">{{ item.host }} {{ item.name }}</a>
</template>
</div>
</div>
<section class="mt-4 mb-4">
<div class="section-title">
<div class="title">
<h2>あなたが好きかもしれない</h2>
</div>
</div>
<div class="row box-item-list gutter-20"
v-scope="RecomWidget({ id: 'MXGS-1329-Uncensored-Leaked', scenario: 'watch-similar', rows: 3 })" @vue:mounted="init($el)">
<div class="col-6 col-sm-4 col-lg-3" v-for="item in items">
<div class="box-item">
<div class="thumb" v-scope="Preview()" :data-preview="item.preview" @vue:mounted="init($el)">
<a :href="item.link">
<img :src="item.cover" :title="item.code" />
</a>
<div v-show="item.duration" class="duration">{{ item.duration }}</div>
</div>
<div class="detail">
<a v-show="item.code" :href="item.link">{{ item.code }} - {{ item.title }}</a>
</div>
</div>
</div>
<div class="d-flex align-items-center justify-content-center w-100">
<div v-show="hasData && moreTimes < 2">
<div class="spinner-border spinner-border-sm" v-show="isLoading"></div>
<div @click="loadMore()" class="load-more" v-show="!isLoading">もっと見る <i class="fa fa-caret-down"></i></div>
</div>
</div>
</div>
</section>
</div>
<div class="col col-sidebar">
<div class="mb-3 d-none d-lg-block" v-if="isDesktop">
<div style="width:300px;height:250px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x250.gif">
</a>
</div>
</div>
<section>
<div class="row box-item-list box-item-list-sm gutter-20">
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/c/5c/bgn-071/preview.png?t=1730005878" @vue:mounted="init($el)">
<a href="dm1/v/bgn-071" title="BGN-071">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/c/5c/bgn-071/cover.jpg?t=1730005878" title="BGN-071" alt="BGN-071" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 2888, 0)"
data-code="BGN-071"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">03:20:00</div>
</div>
<div class="detail">
<a href="dm1/v/bgn-071">BGN-071 - 新人 プレステージ専属デビュー</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/c/9c/rexd-513/preview.png?t=1730860967" @vue:mounted="init($el)">
<a href="dm1/v/rexd-513" title="REXD-513">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/c/9c/rexd-513/cover.jpg?t=1730860967" title="REXD-513" alt="REXD-513" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 228468, 0)"
data-code="REXD-513"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:00:00</div>
</div>
<div class="detail">
<a href="dm1/v/rexd-513">REXD-513 - 美人ジャーナリスト 知りすぎた女3 和久井美兎</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/e/2e/umd-906/preview.png?t=1730764188" @vue:mounted="init($el)">
<a href="dm1/v/umd-906" title="UMD-906">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/e/2e/umd-906/cover.jpg?t=1730764188" title="UMD-906" alt="UMD-906" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 223082, 0)"
data-code="UMD-906"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:02:00</div>
</div>
<div class="detail">
<a href="dm1/v/umd-906">UMD-906 - 何コレ？！こんなの初めてっ！！媚薬がたっぷりしみ込んだ布が、第2の皮膚となって全身を覆う常識破りの快感エステ！！5</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/3/b3/mxgs-1329/preview.png?t=1730655189" @vue:mounted="init($el)">
<a href="dm1/v/mxgs-1329" title="MXGS-1329">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/3/b3/mxgs-1329/cover.jpg?t=1730655189" title="MXGS-1329" alt="MXGS-1329" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 228113, 0)"
data-code="MXGS-1329"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:08:00</div>
</div>
<div class="detail">
<a href="dm1/v/mxgs-1329">MXGS-1329 - ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 和久井美兎</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/8/08/kavr-297/preview.png?t=1730677731" @vue:mounted="init($el)">
<a href="dm1/v/kavr-297" title="KAVR-297">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/8/08/kavr-297/cover.jpg?t=1730677731" title="KAVR-297" alt="KAVR-297" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 194208, 0)"
data-code="KAVR-297"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">01:36:00</div>
</div>
<div class="detail">
<a href="dm1/v/kavr-297">KAVR-297 - 【VR】怖いもの知らずのイタズラ好き小悪魔新人ナースがバレたらヤバい状況でニヤニヤ挿入おねだり生ハメ中出しご奉仕 和久井美兎</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/4/24/dass-189-uncensored-leaked/preview.png?t=1730879322" @vue:mounted="init($el)">
<a href="dm2/v/dass-189-uncensored-leaked" title="DASS-189 [検閲なしリーク]">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/4/24/dass-189-uncensored-leaked/cover.jpg?t=1730879322" title="DASS-189 [検閲なしリーク]" alt="DASS-189 [検閲なしリーク]" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 200740, 0)"
data-code="DASS-189-Uncensored-Leaked"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:00:00</div>
</div>
<div class="detail">
<a href="dm2/v/dass-189-uncensored-leaked">DASS-189 [検閲なしリーク] - 剛毛とにかくチューチュー頭がトロける程舐めまくる！ねっちぃ吸いにもう無理！アクメぐっちょぐちょ執拗クンニ大好き娘 和久井美兎</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/c/7c/abw-317/preview.png?t=1730498725" @vue:mounted="init($el)">
<a href="dm1/v/abw-317" title="ABW-317">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/c/7c/abw-317/cover.jpg?t=1730498725" title="ABW-317" alt="ABW-317" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 171501, 0)"
data-code="ABW-317"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">04:00:00</div>
</div>
<div class="detail">
<a href="dm1/v/abw-317">ABW-317 - ひたすら生でハメまくる、終らない中出し性交。 体内射精18連発 和久井美兎</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/2/62/agmx-175/preview.png?t=1730721265" @vue:mounted="init($el)">
<a href="dm1/v/agmx-175" title="AGMX-175">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/2/62/agmx-175/cover.jpg?t=1730721265" title="AGMX-175" alt="AGMX-175" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 221720, 0)"
data-code="AGMX-175"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">01:47:00</div>
</div>
<div class="detail">
<a href="dm1/v/agmx-175">AGMX-175 - 顔で抜く！！顔面ドアップ相互オナニー2</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/5/35/mxgs-1351/preview.png?t=1730668895" @vue:mounted="init($el)">
<a href="dm1/v/mxgs-1351" title="MXGS-1351">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/5/35/mxgs-1351/cover.jpg?t=1730668895" title="MXGS-1351" alt="MXGS-1351" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 243280, 0)"
data-code="MXGS-1351"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:14:59</div>
</div>
<div class="detail">
<a href="dm1/v/mxgs-1351">MXGS-1351 - ナンパしたスポーツインストラクターが体力あり余る絶倫痴女で搾取されてしまった 都月るいさ</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/7/57/mxgs-1308/preview.png?t=1730549489" @vue:mounted="init($el)">
<a href="dm1/v/mxgs-1308" title="MXGS-1308">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/7/57/mxgs-1308/cover.jpg?t=1730549489" title="MXGS-1308" alt="MXGS-1308" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 209768, 0)"
data-code="MXGS-1308"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:08:00</div>
</div>
<div class="detail">
<a href="dm1/v/mxgs-1308">MXGS-1308 - ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 円井萌華</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/f/2f/mxgs-1293/preview.png?t=1730592042" @vue:mounted="init($el)">
<a href="dm1/v/mxgs-1293" title="MXGS-1293">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/f/2f/mxgs-1293/cover.jpg?t=1730592042" title="MXGS-1293" alt="MXGS-1293" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 191144, 0)"
data-code="MXGS-1293"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:20:00</div>
</div>
<div class="detail">
<a href="dm1/v/mxgs-1293">MXGS-1293 - ナンパした娘がくそ生意気なメスガキでエロマンガのような逆レ○プ搾精されてしまった 乙アリス</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.avfever.net/preview/f/ff/mxgs-1322/preview.png?t=1730592884" @vue:mounted="init($el)">
<a href="dm1/v/mxgs-1322" title="MXGS-1322">
<img class="lazyload" data-src="https://cdn.avfever.net/resize/s360/f/ff/mxgs-1322/cover.jpg?t=1730592884" title="MXGS-1322" alt="MXGS-1322" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 220491, 0)"
data-code="MXGS-1322"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:08:00</div>
</div>
<div class="detail">
<a href="dm1/v/mxgs-1322">MXGS-1322 - ナンパした娘がクソ生意気なメスガキでエロマンガのように逆レ○プ搾精されてしまった 倉本すみれ</a>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<footer>
<div class="text-center mb-5">
<div class="gotop" @click="goTop">
<i class="far fa-arrow-alt-circle-up"></i>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-8 order-2 order-lg-1">
<div class="fw-bold fs-20 logo mb-2">
<img src="https://123av.com/assets/123av/images/logo.png?v=123av" />
</div>
<div>Copyright © 2025 123av.com All rights reserved</div>
</div>
<div class="col-lg-4 order-1">
<div class="row">
<div class="col-4 links">
<div class="bl-title">約</div>
<ul>
<li><a href="contact">お問い合わせ</a></li>
</ul>
</div>
<div class="col-4 links">
<div class="bl-title">ポリシー</div>
<ul>
<li><a href="2257">18 U.S.C. 2257</a></li>
<li><a href="terms">利用規約</a></li>
<li><a href="abuse">虐待</a></li>
</ul>
</div>
<div class="col-4 links">
<div class="bl-title">Friends</div>
<ul>
<li><a target="_blank" href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" title="3,000種類以上のスロットゲーム！世界一のVIP体験 18歳以上、利用規約適用、責任を持って遊びましょう">Stakeで遊ぼう！</a></li>
<li><a href="https://javgg.net/" target="_blank">javgg.net</a></li>
<li><a href="dm2/missav">MissAV</a></li>
<li><a href="supjav">SupJav</a></li>
<li><a href="jable">Jable</a></li>
<li><a href="javguru">Jav.guru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="modal" id="userform" style="display: none">
<div class="modal-dialog modal-dialog-centered modal-sm">
<div v-show="app.userFormName == 'login'" class="modal-content">
<form v-scope="Form({
url: 'ajax/user/signin',
whenDone: function() {
UI.hideModal();
app.updateUserInfo();
}
})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">ログイン</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'register'">アカウントを登録</a></div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="login_username">ユーザー名</label>
<input class="form-control" id="login_username" type="text" name="username" required :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="login_password">パスワード</label>
<input class="form-control" id="login_password" type="password" name="password" required :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group form-check d-flex justify-content-between">
<div>
<input type="checkbox" class="form-check-input" name="remember_me" id="remember_me" checked>
<label class="form-check-label" for="remember_me">ログイン状態を保持</label>
</div>
</div>
<div class="text-center mt-3">
<a href="#" class="text-primary" @click.prevent="app.userFormName = 'reset'">パスワードをリセットしてください</a>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100" :disabled="isLoading">送信</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'register'" class="modal-content">
<form v-scope="Form({
url: 'ajax/user/signup',
whenDone: function() {
UI.hideModal();
app.updateUserInfo();
this.$refs.form.reset();
}
})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">アカウントを登録</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'login'">アカウントにログイン</a></div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="register_username">ユーザー名</label>
<input class="form-control" id="register_username" type="text" name="username" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="register_email">メールアドレス</label>
<input class="form-control" id="register_email" type="text" name="email" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div class="form-group merge first">
<label for="register_password">パスワード</label>
<input class="form-control" id="register_password" type="password" name="password" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="register_password_confirmation">パスワード確認</label>
<input class="form-control" id="register_password_confirmation" type="password" name="password_confirmation" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">送信</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'reset'" class="modal-content">
<form v-scope="Form({url: 'ajax/user/reset'})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">パスワードをリセットしてください</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'login'">アカウントにログイン</a></div>
<div>現在のユーザー名とメールアドレスを入力して、パスワードをリセットしてください。</div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge first">
<label>ユーザー名</label>
<input class="form-control" type="text" name="username" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label>メールアドレス</label>
<input class="form-control" type="text" name="email" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div class="form-group merge first">
<label for="reset_password">新しいパスワード</label>
<input class="form-control" id="reset_password" type="password" name="password" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="reset_password_confirmation">新しいパスワード確認</label>
<input class="form-control" id="reset_password_confirmation" type="password" name="password_confirmation" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">送信</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'edit'" class="modal-content">
<form v-scope="Form({url: 'ajax/user/edit', whenDone: app.updateUserInfo})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">プロフィールを編集</h3>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="edit_username">ユーザー名</label>
<input class="form-control" id="edit_username" type="text" name="username" required minlength="4" maxlength="32" :value="app.userInfo.username" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="edit_email">メールアドレス</label>
<input class="form-control" id="edit_email" type="email" name="email" required minlength="4" maxlength="32" :value="app.userInfo.email" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div v-scope="{changePassword: false}">
<div class="text-center">
<a href="javascript:;" class="text-info" @click.prevent="changePassword = !changePassword">パスワード変更</a>
</div>
<div v-if="changePassword" class="mt-3">
<div class="form-group merge">
<label for="edit_password">新しいパスワード</label>
<input class="form-control" id="edit_password" type="password" name="password" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="edit_password_confirmation">新しいパスワード確認</label>
<input class="form-control" id="edit_password_confirmation" type="password" name="password_confirmation" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">送信</button>
</div>
</form>
</div>
</div>
</div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZGC2QQBZ8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-VZGC2QQBZ8');
</script>
<script>
if(window.innerWidth > 768) {
document.write("<script type='text/javascript' src='//loneinner.com/24/5d/45/245d45a321faaf58150e2b1fe830f4bf.js'><\/script>");
}
</script>
<script type='text/javascript' src='//loneinner.com/9b/7e/1e/9b7e1e724274b81f688a60aa9a5b4054.js'></script>
<div class="ad-floating">
<div class="d-none d-lg-block" v-if="isDesktop">
<div style="width:300px;height:150px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x150.gif">
</a>
</div>
</div>
<div class="d-lg-none" v-if="!isDesktop">
<div style="width:300px;height:50px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x50.gif">
</a>
</div>
</div>    </div>
</body>
</html>