<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="alternate" hreflang="x-default" href="https://123av.com/en/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="zh-Hant" href="https://123av.com/zh/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="zh-Hans" href="https://123av.com/zh/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="en" href="https://123av.com/en/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="ja" href="https://123av.com/ja/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="ko" href="https://123av.com/ko/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="zh" href="https://123av.com/zh/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="th" href="https://123av.com/th/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="ms" href="https://123av.com/ms/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="de" href="https://123av.com/de/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="fr" href="https://123av.com/fr/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="vi" href="https://123av.com/vi/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="id" href="https://123av.com/id/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="fil" href="https://123av.com/fil/dm1/v/dass-587-uncensored-leaked">
<link rel="alternate" hreflang="hi" href="https://123av.com/hi/dm1/v/dass-587-uncensored-leaked">
<title>DASS-587 [Uncensored Leaked] Watch Online, Kana Morisawa (Kanako Iioka), The mother and son were trapped in a room where they couldn&#039;t leave unless they ejaculate 10 times, and endured the desire to have sex with each other and ejaculated a lot.  - Maybe Morisawa - 123AV</title>
<meta name="description" content="DASS-587 [Uncensored Leaked] watch online and download DASS-587 [Uncensored Leaked] free. Kana Morisawa (Kanako Iioka)">
<meta name="keywords" content="DASS-587 [Uncensored Leaked] watch online, DASS-587 [Uncensored Leaked] download, DASS-587 [Uncensored Leaked] magnet, DASS-587 [Uncensored Leaked] vip file download free">
<meta property="og:url" content="https://123av.com/en/dm1/v/dass-587-uncensored-leaked">
<meta property="og:site_name" content="123av.com">
<meta property="og:title" content="DASS-587 [Uncensored Leaked] Watch Online, Kana Morisawa (Kanako Iioka), The mother and son were trapped in a room where they couldn&#039;t leave unless they ejaculate 10 times, and endured the desire to have sex with each other and ejaculated a lot.  - Maybe Morisawa - 123AV">
<meta property="og:description" content="DASS-587 [Uncensored Leaked] watch online and download DASS-587 [Uncensored Leaked] free. Kana Morisawa (Kanako Iioka)">
<meta property="og:type" content="video">
<meta property="og:image" content="https://cdn.123av.com/images/4/c4/dass-587-uncensored-leaked/cover.jpg?t=1739245279">
<base href="https://123av.com/en/">
<link rel="canonical" href="https://123av.com/en/dm1/v/dass-587-uncensored-leaked">
<link rel="icon" type="image/png" href="https://123av.com/assets/123av/images/favicon.png">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://123av.com/assets/123av/dist/app.css?v=1737175421">
<script>
window.cdnUrl = 'https://cdn.123av.com';
</script>
<script type="text/javascript" src="https://123av.com/assets/123av/dist/app.js?v=1737175421" defer></script>
</head>
<body>
<div id="app" v-scope @vue:mounted="init(); $el.style.display=null; cookie.set('locale', 'en');" style="display:none">
<header :class="{'show-menu': app.isMenuOpen, 'hide': app.isHeaderHidden}">
<div class="container">
<div class="row wrap">
<div class="col-auto justify-content-center">
<div id="logo" class="fs-15 fw-bold">
<a class="logo" href="https://123av.com/en" title="Watch HD AV Online | Free &amp; High Quality AV">
<img src="https://123av.com/assets/123av/images/logo.png?v=123av" />
</a>
</div>
</div>
<div class="col-auto nav-wrap">
<ul id="nav" :style="{'max-height': (screen.height * 0.6) + 'px'}">
<li class="has-child" v-scope="{open: storage.get('menu-1', 1)}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-1', open=!open)">Watch JAV</a>
<ul>
<li><a href="dm2/censored">Censored</a></li>
<li><a href="dm2/recent-update">Recent Update</a></li>
<li><a href="dm2/new-release">New Release</a></li>
<li><a href="dm2/uncensored">Uncensored</a></li>
<li><a href="dm2/uncensored-leaked">Uncensored Leaked</a></li>
<li><a href="dm2/vr">VR</a></li>
<li><a href="actresses?sort=most_viewed_today">Hot actresses</a></li>
<li><a href="dm2/trending">Trending</a></li>
<li><a href="dm2/today-hot">Most viewed today</a></li>
<li><a href="dm2/weekly-hot">Most viewed by week</a></li>
<li><a href="dm2/monthly-hot">Most viewed by month</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-4')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-4', open=!open)">List</a>
<ul>
<li><a href="genres">Genres</a></li>
<li><a href="makers">Makers</a></li>
<li><a href="actresses">Actresses</a></li>
<li><a href="series">Series</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-2')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-2', open=!open)">Amateur</a>
<ul>
<li><a href="dm2/tags/siro">SIRO</a></li>
<li><a href="dm2/tags/259luxu">LUXU</a></li>
<li><a href="dm2/tags/200gana">200GANA</a></li>
<li><a href="dm2/tags/prestige-premium">PRESTIGE PREMIUM</a></li>
<li><a href="dm2/tags/230oreco">ORECO</a></li>
<li><a href="dm2/tags/s-cute">S-CUTE</a></li>
<li><a href="dm2/tags/261ara">ARA</a></li>
<li><a href="dm2/tags/390jac">390JAC</a></li>
<li><a href="dm2/tags/328hmdn">328HMDN</a></li>
</ul>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-3')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-3', open=!open)">Uncensored</a>
<ul>
<li><a href="dm2/uncensored-leaked">Uncensored Leaked</a></li>
<li><a href="dm2/tags/fc2">FC2</a></li>
<li><a href="dm17/tags/heyzo">HEYZO</a></li>
<li><a href="dm2/tags/tokyo-hot">Tokyo-Hot</a></li>
<li><a href="dm26/tags/1pondo">1pondo</a></li>
<li><a href="dm27/tags/caribbeancom">Caribbeancom</a></li>
<li><a href="dm10/tags/caribbeancompr">Caribbeancompr</a></li>
<li><a href="dm28/tags/10musume">10musume</a></li>
<li><a href="dm16/tags/pacopacomama">pacopacomama</a></li>
<li><a href="dm2/tags/gachig">Gachinco</a></li>
<li><a href="dm2/tags/xxx-av">XXX-AV</a></li>
<li><a href="dm2/tags/c0930">C0930</a></li>
<li><a href="dm2/tags/h0930">H0930</a></li>
<li><a href="dm2/tags/h4610">H4610</a></li>
</ul>
</li>
<li>
<a href="https://go.rmishe.com/smartpop/65c7b0d8683f0a3a637a172428a7234a34dc70407a5c239e15f4d247b3a20e82?userId=c11b667e1e8a26cf7f31362ebc0577ab36a4ec57b491bae9f3f8939c70b4b75e" rel="nofollow" target="_blank">Live Sex</a>
</li>
<li class="has-child" v-scope="{open: storage.get('menu-5')}" :class="{show: open}">
<a href="javascript:;" @click="storage.set('menu-5', open=!open)">More sites</a>
<ul>
<li><a href="https://theporndude.com/" target="_blank" rel="nofollow">ThePornDude</a></li>
<li><a href="https://24av.net/" target="_blank" rel="nofollow">24av</a></li>
<li><a target="_blank" href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" title="3,000種類以上のスロットゲーム！世界一のVIP体験 18歳以上、利用規約適用、責任を持って遊びましょう">Stakeで遊ぼう！</a></li>
</ul>
</li>
</ul>
</div>
<div class="col-auto right">
<form id="search" v-scope="Search()" @vue:mounted="init" ref="form" :class="{show: isOpen}" action="search" autocomplete="off">
<button><i class="fas fa-search"></i></button>
<input type="text" name="keyword" ref="input" placeholder="Search...">
</form>
<div id="lang" v-scope="UI.Dropdown()" @vue:mounted="init">
<div ref="toggler">
<i class="flag icon-lang-en"></i>
</div>
<div ref="menu" class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="https://123av.com/en/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-en"></i>
<span>English</span>
</a>
<a class="dropdown-item" href="https://123av.com/ja/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-ja"></i>
<span>日本語</span>
</a>
<a class="dropdown-item" href="https://123av.com/ko/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-ko"></i>
<span>한국의</span>
</a>
<a class="dropdown-item" href="https://123av.com/zh/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-zh"></i>
<span>繁體中文</span>
</a>
<a class="dropdown-item" href="https://123av.com/ms/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-ms"></i>
<span>Melayu</span>
</a>
<a class="dropdown-item" href="https://123av.com/th/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-th"></i>
<span>ไทย</span>
</a>
<a class="dropdown-item" href="https://123av.com/de/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-de"></i>
<span>Deutsch</span>
</a>
<a class="dropdown-item" href="https://123av.com/fr/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-fr"></i>
<span>Français</span>
</a>
<a class="dropdown-item" href="https://123av.com/vi/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-vi"></i>
<span>Tiếng Việt</span>
</a>
<a class="dropdown-item" href="https://123av.com/id/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-id"></i>
<span>Bahasa Indonesia</span>
</a>
<a class="dropdown-item" href="https://123av.com/fil/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-fil"></i>
<span>Filipino</span>
</a>
<a class="dropdown-item" href="https://123av.com/hi/dm1/v/dass-587-uncensored-leaked">
<i class="flag icon-lang-hi"></i>
<span>हिंदी</span>
</a>
</div>
</div>
<div id="user">
<div class="clickable" v-if="!app.isUserLogged" @click.prevent="app.showLoginForm">
<i class="icon icon-avatar"></i>
</div>
<div v-if="!app.isUserStatusUpdating && app.isUserLogged" v-scope="UI.Dropdown()" @vue:mounted="init">
<div ref="toggler" class="clickable">
<i class="icon icon-avatar"></i>
</div>
<div ref="menu" class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#" @click.prevent="app.userFormName = 'edit'; UI.showModal('#userform')">
<i class="fas fa-user-edit"></i>
<span>Edit Profile</span>
</a>
<a class="dropdown-item" href="user/collection">
<i class="fas fa-heart"></i>
<span>My Collection</span>
</a>
<a class="dropdown-item" href="user/actresses">
<i class="fas fa-star"></i>
<span>My Actresses</span>
</a>
<a class="dropdown-item" href="user/feed">
<i class="fas fa-film"></i>
<span>Video Feed</span>
</a>
<a class="dropdown-item" href="user/logout">
<i class="fas fa-sign-out-alt"></i>
<span>Logout</span>
</a>
</div>
</div>
</div>
<div class="nav-toggler" @click="app.toggleMenu">
<i></i><i></i><i></i>
</div>
</div>
</div>
</div>
</header>
<div id="body">
<div class="container" id="page-video" v-scope="Movie({id: 263393, code: 'DASS-587-Uncensored-Leaked'})" @vue:mounted="init">
<div class="alert alert-warning">
<i class="fas fa-info-circle"></i>
In case you can't access to our main domain <a href="https://123av.com/" rel="nofollow" class="text-primary"><b>123av.com</b></a>, please try <a href="https://123av.ws/" rel="nofollow" class="text-primary"><b>123av.ws</b></a>, <a href="https://1av.to/" rel="nofollow" class="text-primary"><b>1av.to</b></a>
</div>
<div class="row">
<div class="col">
<div id="player" ref="player" data-poster="https://cdn.123av.com/images/4/c4/dass-587-uncensored-leaked/cover.jpg?t=1739245279">
<video poster="https://cdn.123av.com/images/4/c4/dass-587-uncensored-leaked/cover.jpg?t=1739245279" src="https://cdn.123av.com/images/4/c4/dass-587-uncensored-leaked/preview.mp4?t=1739245279" controls playsinline width="100%" height="100%"></video>
</div>
<div class="d-flex justify-content-between align-items-start">
<div class="mr-3">
<h1>DASS-587 [Uncensored Leaked] The mother and son were trapped in a room where they couldn&#039;t leave unless they ejaculate 10 times, and endured the desire to have sex with each other and ejaculated a lot.  - Maybe Morisawa</h1>
</div>
</div>
<div class="mt-3 mb-3" v-scope="{shareOpened: false, shareTitle: document.title, shareUrl: window.location.href }">
<div class="actions d-flex align-items-center justify-content-center">
<button class="btn btn-secondary btn-action favourite mr-2"
v-scope="Favourite('movie', 263393, -1)" @vue:mounted="init($el)" @click="handle"
data-code="DASS-587-Uncensored-Leaked"
:class="{done: state == 1}">
<i class="fas fa-heart"></i>
<span ref="counter">145</span>
</button>
<button class="btn btn-secondary" @click="shareOpened=!shareOpened">
<i class="fas fa-solid fa-share-nodes"></i>
<span>Share</span>
</button>
</div>
<div v-show="shareOpened" class="share-wrapper bg-secondary p-3 rounded-2 mt-3">
<div class="input-group" v-scope="{
copied: false,
copyShareUrl: function() {
this.$refs.shareUrl.select();
document.execCommand('copy');
this.copied = true;
setTimeout(() => { this.copied = false; }, 2e3);
}
}">
<input type="text" class="form-control rounded-1" ref="shareUrl" readonly :value="shareUrl">
<button class="btn btn-info rounded-1 ml-1" type="button" @click="copyShareUrl">
<i v-show="copied" class="fa-regular fa-circle-check"></i>
<i v-show="!copied" class="fa-solid fa-copy"></i>
Copy
</button>
</div>
<div class="mt-2">
<a :href="`https://wa.me/?text=${shareTitle}%0a%0a${shareUrl}`"
target="_blank"
style="background: #25D366;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-whatsapp"></i> Whatsapp
</a>
<a :href="`https://t.me/share/url?url=${shareUrl}&amp;text=${shareTitle}`"
target="_blank"
style="background: #0088CC;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-telegram"></i> Telegram
</a>
<a :href="`https://twitter.com/intent/tweet?text=${shareTitle}%0a%0a${shareUrl}`"
target="_blank"
style="background: #1DA1F2;"
class="btn text-white rounded-1 mr-2"
>
<i class="fa-brands fa-twitter"></i> Twitter
</a>
</div>
</div>
</div>
<div id="scenes" v-show="watchItems.length > 1">
<ul>
<li v-for="item in watchItems">
<a href="javascript:;" :data-index="item.index" :class="{active: item.index == watchIndex}" @click="play(item.index)">Part {{ item.name }}</a>
</li>
</ul>
</div>
<div class="d-lg-none text-center" v-if="!isDesktop">
<div style="width:300px;height:100px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x100.gif">
</a>
</div>
</div>
<div id="details" v-scope="{tab: 'detail'}">
<div class="bl-title tabs">
<div class="tab tab-detail" @click="tab = 'detail'" :class="{active: tab == 'detail'}">Details</div>
<div class="tab tab-magnet" @click="tab = 'magnet'" :class="{active: tab == 'magnet'}">Magnet</div>
<div v-show="downloadItems && downloadItems.length > 0" class="tab tab-magnet" @click="tab = 'down'" :class="{active: tab == 'down'}">Download</div>
</div>
<div class="content" :class="{'d-none': tab != 'detail'}">
<div class="detail-item">
<div>
<span>Code:</span>
<span>DASS-587 [Uncensored Leaked]</span>
</div>
<div>
<span>Release date:</span>
<span>2025-02-11</span>
</div>
<div>
<span>Runtime:</span>
<span>02:30:44</span>
</div>
<div>
<span>Actresses:</span>
<span>
<a href="dm2/actresses/228ef069134ee263" v-scope="Term(79402)" @vue:mounted="init">Kana Morisawa (Kanako Iioka)</a>
</span>
</div>
<div>
<span>Genres:</span>
<span class="genre">
<a href="dm2/uncensored-leaked">Uncensored Leaked</a>,
<a href="dm2/genres/mother">Mother</a>,
<a href="dm2/genres/creampie">Creampie</a>,
<a href="dm3/genres/slut">Slut</a>,
<a href="dm3/genres/lingerie">Lingerie</a>,
<a href="dm2/genres/incest">Incest</a>
</span>
</div>
<div>
<span>Maker:</span>
<span>
<a href="dm2/makers/b79d2f10bfa9ff1c">Das!</a>
</span>
</div>
<div>
<span>Label:</span>
<span>
<a href="dm2/labels/b79d2f10bfa9ff1c">Das!</a>
</span>
</div>
<div>
<span>Tags:</span>
<span>
<a href="dm2/tags/dass">DASS</a>
</span>
</div>
</div>
</div>
<div class="content magnets" :class="{'d-none': tab != 'magnet'}">
<div class="magnet">
<a href="magnet:?xt=urn:btih:4B9E092A886A81943EEDD2E67CEB612DF77DAC98&amp;dn=DASS587" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">DASS587</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">1.92GB</div>
<div class="detail-item">2025-02-07</div>
</div>
</div>
</a>
</div>
<div class="magnet">
<a href="magnet:?xt=urn:btih:C297832F638E96A9E4587180E76DF75EC2066AD5&amp;dn=DASS-587" target="_blank" rel="nofollow">
<div class="d-flex justify-content-between">
<div class="c1">
<span class="name">DASS-587 HD</span>
</div>
<div class="d-flex justify-content-between">
<div class="detail-item">6.33GB</div>
<div class="detail-item">2025-02-06</div>
</div>
</div>
</a>
</div>
</div>
<div v-show="downloadItems && downloadItems.length > 0" class="content download py-2" :class="{'d-none': tab != 'down'}">
<b>Download:</b>
<template v-for="item in downloadItems">
<a class="btn btn-sm btn-link" target="_blank" :href="item.url">{{ item.host }} {{ item.name }}</a>
</template>
</div>
</div>
<section class="mt-4 mb-4">
<div class="section-title">
<div class="title">
<h2>You may like</h2>
</div>
</div>
<div class="row box-item-list gutter-20"
v-scope="RecomWidget({ id: 'DASS-587-Uncensored-Leaked', scenario: 'watch-similar', rows: 3 })" @vue:mounted="init($el)">
<div class="col-6 col-sm-4 col-lg-3" v-for="item in items">
<div class="box-item">
<div class="thumb" v-scope="Preview()" :data-preview="item.preview" @vue:mounted="init($el)">
<a :href="item.link">
<img :src="item.cover" :title="item.code" />
</a>
<div v-show="item.duration" class="duration">{{ item.duration }}</div>
</div>
<div class="detail">
<a v-show="item.code" :href="item.link">{{ item.code }} - {{ item.title }}</a>
</div>
</div>
</div>
<div class="d-flex align-items-center justify-content-center w-100">
<div v-show="hasData && moreTimes < 2">
<div class="spinner-border spinner-border-sm" v-show="isLoading"></div>
<div @click="loadMore()" class="load-more" v-show="!isLoading">More <i class="fa fa-caret-down"></i></div>
</div>
</div>
</div>
</section>
</div>
<div class="col col-sidebar">
<div class="mb-3 d-none d-lg-block" v-if="isDesktop">
<div style="width:300px;height:250px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x250.gif">
</a>
</div>
</div>
<section>
<div class="row box-item-list box-item-list-sm gutter-20">
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/5/65/vec-681/preview.png?t=1737707123" @vue:mounted="init($el)">
<a href="dm1/v/vec-681" title="VEC-681">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/5/65/vec-681/cover.jpg?t=1737707123" title="VEC-681" alt="VEC-681" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 261340, 0)"
data-code="VEC-681"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">01:42:27</div>
</div>
<div class="detail">
<a href="dm1/v/vec-681">VEC-681 - Kana Morisawa, a married woman who couldn&#039;t forget the sex she was forced to have and was fascinated by the swamp of cheating</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/c/ac/dazd-219/preview.png?t=1733484429" @vue:mounted="init($el)">
<a href="dm3/v/dazd-219" title="DAZD-219">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/c/ac/dazd-219/cover.jpg?t=1733484429" title="DAZD-219" alt="DAZD-219" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 255589, 0)"
data-code="DAZD-219"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">04:00:50</div>
</div>
<div class="detail">
<a href="dm3/v/dazd-219">DAZD-219 - Forbidden affair sex BEST where you lose your reason due to the pheromones of the married woman you admire and drown in the swamp of infidelity.</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/7/d7/gvg-100/preview.png?t=1730576038" @vue:mounted="init($el)">
<a href="dm2/v/gvg-100" title="GVG-100">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/7/d7/gvg-100/cover.jpg?t=1730576038" title="GVG-100" alt="GVG-100" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 208816, 0)"
data-code="GVG-100"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:02:00</div>
</div>
<div class="detail">
<a href="dm2/v/gvg-100">GVG-100 - Pregnancy education Kanako Iioka extracurricular lesson with child ○ cock and creampie</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/4/54/cesd-488/preview.png?t=1730701464" @vue:mounted="init($el)">
<a href="dm2/v/cesd-488" title="CESD-488">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/4/54/cesd-488/cover.jpg?t=1730701464" title="CESD-488" alt="CESD-488" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 124094, 0)"
data-code="CESD-488"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:10:00</div>
</div>
<div class="detail">
<a href="dm2/v/cesd-488">CESD-488 - Sister Doting Lesbian Kana Morisawa Ruka Kanae</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/4/54/bth-099/preview.png?t=1730086950" @vue:mounted="init($el)">
<a href="dm2/v/bth-099" title="BTH-099">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/4/54/bth-099/cover.jpg?t=1730086950" title="BTH-099" alt="BTH-099" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 73051, 0)"
data-code="BTH-099"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">00:34:00</div>
</div>
<div class="detail">
<a href="dm2/v/bth-099">BTH-099 - Raw Fucking Nadeshiko Nadeshiko Kana Morisawa</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/a/7a/umd-897/preview.png?t=1730554837" @vue:mounted="init($el)">
<a href="dm2/v/umd-897" title="UMD-897">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/a/7a/umd-897/cover.jpg?t=1730554837" title="UMD-897" alt="UMD-897" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 212269, 0)"
data-code="UMD-897"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:38:00</div>
</div>
<div class="detail">
<a href="dm2/v/umd-897">UMD-897 - Obstetrics and Gynecology - Breast Cancer Palpation Edition 17 people</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/b/6b/nask-123/preview.png?t=1730433154" @vue:mounted="init($el)">
<a href="dm2/v/nask-123" title="NASK-123">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/b/6b/nask-123/cover.jpg?t=1730433154" title="NASK-123" alt="NASK-123" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 242795, 0)"
data-code="NASK-123"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">04:01:18</div>
</div>
<div class="detail">
<a href="dm2/v/nask-123">NASK-123 - No!  - My husband is waking up!  - 8 wives indulge in unfaithful sex next to their sleeping husbands</a>
</div>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-12">
<div class="box-item">
<div class="thumb" v-scope="Preview()" data-preview="https://cdn.123av.com/preview/4/d4/tcd-258/preview.png?t=1730365885" @vue:mounted="init($el)">
<a href="dm2/v/tcd-258" title="TCD-258">
<img class="lazyload" data-src="https://cdn.123av.com/resize/s360/4/d4/tcd-258/cover.jpg?t=1730365885" title="TCD-258" alt="TCD-258" />
</a>
<div class="favourite"
v-scope="Favourite('movie', 21444, 0)"
data-code="TCD-258"
@click="handle" :class="{active: state == 1}">
<i class="fas fa-heart"></i>
</div>
<div class="duration">02:35:00</div>
</div>
<div class="detail">
<a href="dm2/v/tcd-258">TCD-258 - Transsexual Strong Masochist Experiment Subject #02 Izumi</a>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<footer>
<div class="text-center mb-5">
<div class="gotop" @click="goTop">
<i class="far fa-arrow-alt-circle-up"></i>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-8 order-2 order-lg-1">
<div class="fw-bold fs-20 logo mb-2">
<img src="https://123av.com/assets/123av/images/logo.png?v=123av" />
</div>
<div>Copyright © 2025 123av.com All rights reserved</div>
</div>
<div class="col-lg-4 order-1">
<div class="row">
<div class="col-4 links">
<div class="bl-title">About</div>
<ul>
<li><a href="contact">Contact</a></li>
</ul>
</div>
<div class="col-4 links">
<div class="bl-title">Policy</div>
<ul>
<li><a href="2257">18 U.S.C. 2257</a></li>
<li><a href="terms">Terms</a></li>
<li><a href="abuse">Abuse</a></li>
</ul>
</div>
<div class="col-4 links">
<div class="bl-title">Friends</div>
<ul>
<li><a target="_blank" href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" title="3,000種類以上のスロットゲーム！世界一のVIP体験 18歳以上、利用規約適用、責任を持って遊びましょう">Stakeで遊ぼう！</a></li>
<li><a href="https://javgg.net/" target="_blank">javgg.net</a></li>
<li><a href="dm3/missav">MissAV</a></li>
<li><a href="supjav">SupJav</a></li>
<li><a href="jable">Jable</a></li>
<li><a href="javguru">Jav.guru</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="modal" id="userform" style="display: none">
<div class="modal-dialog modal-dialog-centered modal-sm">
<div v-show="app.userFormName == 'login'" class="modal-content">
<form v-scope="Form({
url: 'ajax/user/signin',
whenDone: function() {
UI.hideModal();
app.updateUserInfo();
}
})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">Login</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'register'">Register an account</a></div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="login_username">Username</label>
<input class="form-control" id="login_username" type="text" name="username" required :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="login_password">Password</label>
<input class="form-control" id="login_password" type="password" name="password" required :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group form-check d-flex justify-content-between">
<div>
<input type="checkbox" class="form-check-input" name="remember_me" id="remember_me" checked>
<label class="form-check-label" for="remember_me">Remember me</label>
</div>
</div>
<div class="text-center mt-3">
<a href="#" class="text-primary" @click.prevent="app.userFormName = 'reset'">Reset your password</a>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100" :disabled="isLoading">Submit</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'register'" class="modal-content">
<form v-scope="Form({
url: 'ajax/user/signup',
whenDone: function() {
UI.hideModal();
app.updateUserInfo();
this.$refs.form.reset();
}
})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">Register an account</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'login'">Login to your account</a></div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="register_username">Username</label>
<input class="form-control" id="register_username" type="text" name="username" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="register_email">Email</label>
<input class="form-control" id="register_email" type="text" name="email" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div class="form-group merge first">
<label for="register_password">Password</label>
<input class="form-control" id="register_password" type="password" name="password" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="register_password_confirmation">Password Confirmation</label>
<input class="form-control" id="register_password_confirmation" type="password" name="password_confirmation" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'reset'" class="modal-content">
<form v-scope="Form({url: 'ajax/user/reset'})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">Reset your password</h3>
<div>or <a href="#" @click.prevent="app.userFormName = 'login'">Login to your account</a></div>
<div>Provide your current username, email to reset your password.</div>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge first">
<label>Username</label>
<input class="form-control" type="text" name="username" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label>Email</label>
<input class="form-control" type="text" name="email" required minlength="4" maxlength="32" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div class="form-group merge first">
<label for="reset_password">New Password</label>
<input class="form-control" id="reset_password" type="password" name="password" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="reset_password_confirmation">New Password Confirmation</label>
<input class="form-control" id="reset_password_confirmation" type="password" name="password_confirmation" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
</div>
</form>
</div>
<div v-show="app.userFormName == 'edit'" class="modal-content">
<form v-scope="Form({url: 'ajax/user/edit', whenDone: app.updateUserInfo})" @vue:mounted="init" ref="form" autocomplete="off">
<div class="modal-header">
<div class="flex-fill">
<h3 class="modal-title">Edit Profile</h3>
</div>
<button type="button" class="close" @click="UI.hideModal"><span>&times;</span></button>
</div>
<div class="modal-body">
<div class="text-center">
<div class="spinner-border text-primary" ref="loader"></div>
</div>
<div v-if="messages.length" class="alert" :class="{'alert-info': !hasErrors, 'alert-danger': hasErrors}">
<div v-for="message in messages">{{ message }}</div>
</div>
<div class="form-group merge">
<label for="edit_username">Username</label>
<input class="form-control" id="edit_username" type="text" name="username" required minlength="4" maxlength="32" :value="app.userInfo.username" :class="{'is-invalid': !!errors.username}">
<small class="text-danger" v-if="errors.username">{{ errors.username }}</small>
</div>
<div class="form-group merge last">
<label for="edit_email">Email</label>
<input class="form-control" id="edit_email" type="email" name="email" required minlength="4" maxlength="32" :value="app.userInfo.email" :class="{'is-invalid': !!errors.email}">
<small class="text-danger" v-if="errors.email">{{ errors.email }}</small>
</div>
<div v-scope="{changePassword: false}">
<div class="text-center">
<a href="javascript:;" class="text-info" @click.prevent="changePassword = !changePassword">Change password</a>
</div>
<div v-if="changePassword" class="mt-3">
<div class="form-group merge">
<label for="edit_password">New Password</label>
<input class="form-control" id="edit_password" type="password" name="password" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password}">
<small class="text-danger" v-if="errors.password">{{ errors.password }}</small>
</div>
<div class="form-group merge last">
<label for="edit_password_confirmation">New Password Confirmation</label>
<input class="form-control" id="edit_password_confirmation" type="password" name="password_confirmation" minlength="4" maxlength="32" :class="{'is-invalid': !!errors.password_confirmation}">
<small class="text-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation }}</small>
</div>
</div>
</div>
</div>
<div class="modal-footer justify-content-center">
<button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZGC2QQBZ8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-VZGC2QQBZ8');
</script>
<script>
if(window.innerWidth > 768) {
document.write("<script type='text/javascript' src='//generationscrap/24/5d/45/245d45a321faaf58150e2b1fe830f4bf.js'><\/script>");
}
</script>
<div class="ad-floating">
<div class="d-none d-lg-block" v-if="isDesktop">
<div style="width:300px;height:150px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x150.gif">
</a>
</div>
</div>
<div class="d-lg-none" v-if="!isDesktop">
<div style="width:300px;height:50px;display:block;overflow:hidden;margin: 0 auto;">
<a href="https://vip.stakeclick.com/go/50b034f8-ecc3-4715-bd82-e27c909cc016" target="_blank">
<img src="https://123av.com/assets/ad/stake/JP/300x50.gif">
</a>
</div>
</div>    </div>
</body>
</html>